<!-- IF  S_SHOW_NEWS  or true-->
<script>
    var U_LASTTOPICSAJAX_PATH_POPUP = "{U_LASTTOPICSAJAX_PATH_POPUP}";
    var U_LASTTOPICSAJAX_PATH_MARKREAD = "{U_LASTTOPICSAJAX_PATH_MARKREAD}";
    var U_LASTTOPICSAJAX_PATH_TOPICMARKREAD = "{U_LASTTOPICSAJAX_PATH_TOPICMARKREAD}";
    var U_LASTTOPICSAJAX_PATH_PAGINATION = "{U_LASTTOPICSAJAX_PATH_PAGINATION}";
    var U_LASTTOPICSAJAX_PATH_PAGINATION_JUMP = "{U_LASTTOPICSAJAX_PATH_PAGINATION_JUMP}";
    var S_ROWS_AMOUNT = "{S_ROWS_AMOUNT}";
   var L_PREVIOUS = '{PREVIOUS}'
    var L_NEXT = '{NEXT}'
    var S_TOPICPREVIEW = "{S_TOPICPREVIEW}";
    var S_CONTENT_DIRECTION = "{S_CONTENT_DIRECTION}";
    var T_THEME_PATH = "{T_THEME_PATH}";
    var TOPICPREVIEW_DELAY = "{TOPICPREVIEW_DELAY}";
    var TOPICPREVIEW_WIDTH = "{TOPICPREVIEW_WIDTH}";
    var TOPICPREVIEW_DRIFT = "{TOPICPREVIEW_DRIFT}";

</script>
<!-- IF S_TOPICPREVIEW and TOPICPREVIEW_THEME neq 'no'  and S_TOPIC_ID -->
	<!-- INCLUDEJS @vse_topicpreview/topicpreview.js -->
<!-- ENDIF -->

<!-- INCLUDEJS lasttopicsajax.js -->
<!-- ENDIF -->




