{% if  S_SHOW_NEWS %}
<div id="lastTopicsBlock" class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span><span id="closeNew" class="" ><i class="fa fa-times" aria-hidden="true"></i></span>
		<ul class="topiclist" id="newTopicsHeader">
			<li class="header" style=' text-align: center;'><dl><dt>{{ lang(LAST_NEWS) }}</dt><dd></dd></dl></li>
		</ul>
		<ul class="topiclist forums">
			<li>
				<table class="table1 responsive" width="100%">
					<thead>
						<tr>
							{% if SHOW_COL2 %}
								<th class="row1"><strong>{{ TITLE_COL2 }}<span  data-col-markread="2" class="lt-markread" title="{{ lang('MARK_TOPICS_READ') }}"><i class="fa fa-check-square-o" aria-hidden="true"></i></span></strong></th>
							{% endif %}
							{% if SHOW_COL1 %}
								<th class="row1"><strong>{{ TITLE_COL1 }}<span  data-col-markread="1" class="lt-markread" title="{{ lang('MARK_TOPICS_READ') }}"><i class="fa fa-check-square-o" aria-hidden="true"></i></span></strong></th>
							{% endif %}
							{% if SHOW_COL0 %}
								<th class="row1"><strong>{{ TITLE_COL0 }}<span  data-col-markread="0" class="lt-markread" title="{{ lang('MARK_TOPICS_READ') }}"><i class="fa fa-check-square-o" aria-hidden="true"></i></span></strong></th>
							{% endif %}
						</tr>
					</thead>
					<tbody>
 						<tr>
							{% if SHOW_COL2 %}
							<td>
								<div class="action-bar1">
									<div id="lt_pagination_2" class="pagination lt-pagination" data-col="2">
										{% INCLUDE 'pagination_col2.html' %}
									</div>
								</div>
							</td>
							{% endif %}
							{% if SHOW_COL1 %}
								<td>
									<div class="action-bar1">
										<div class="pagination lt-pagination" data-col="1">
											{% INCLUDE 'pagination_col1.html' %}
										</div>
									</div>
								</td>
							{% endif %}
							{% if SHOW_COL0 %}
								<td>
									<div class="action-bar1">
										<div class="pagination lt-pagination" data-col="0">
											{% INCLUDE 'pagination_col0.html' %}
										</div>
									</div>
								</td>
							{% endif %}
						</tr>
						<tr>
							{% if SHOW_COL2 %}
							<td  data-topics="2">
								<ul style="list-style:none;">
									{% for topic in latest_topics_2 %}
										<li>
											{% if topic.S_UNREAD_TOPIC %}
												<span  data-topic_id="{{ topic.TOPIC_ID }}" data-forum_id="{{ topic.FORUM_ID }}" class="lt-marktopicread" title="{{ lang(MARK_READ) }}"><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
												<a data-lt1_column="2" class="unread" href="{{ topic.U_NEWEST_POST }}">
													<i class="icon fa-file fa-fw icon-red icon-md" aria-hidden="true"></i> 
												</a>
												<a data-lt2_column="2" class="topictitle" href="{{ topic.U_NEWEST_POST }}" title="{{ topic.FULL_TITLE }}" class="link-new">{{ topic.TITLE }} ({{ topic.TOPIC_REPLIES }})</a>
											{% else %}
												<span  style="visibility:hidden;" data-topic_id="{{ topic.TOPIC_ID }}" data-forum_id="{{ topic.FORUM_ID }}" class="lt-marktopicread" title="{{ lang(MARK_READ) }}"><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
												<a   data-lt1_column="2" href="{{ topic.U_LAST_POST }}">
													<i class="icon fa-file fa-fw icon-lightgray icon-md" aria-hidden="true"></i>
												</a>
												<a  data-lt2_column="2" class="topictitle" style='font-weight:normal;' href="{{topic.U_LAST_POST }}" title="{{topic.FULL_TITLE }}">{{topic.TITLE }} ({{topic.TOPIC_REPLIES }})</a>
											{% endif %}
											<br />
											{% EVENT topiclist_row_append %}
										</li>
									{% endfor %}
								</ul>
							</td>
							{% endif %}
							{% if SHOW_COL1 %}
							<td  data-topics="1" >
								<ul style="list-style:none;">
									{% for topic in latest_topics_1 %}
										<li>
											{% if topic.S_UNREAD_TOPIC %}
												<span  data-topic_id="{{topic.TOPIC_ID }}}" data-forum_id="{{topic.FORUM_ID }}" class="lt-marktopicread" title="{{ lang(MARK_READ) }}"><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
												<a data-lt1_column="1" class="unread" href="{{ topic.U_NEWEST_POST }}">
													<i class="icon fa-file fa-fw icon-red icon-md" aria-hidden="true"></i>
												</a>
												<a data-lt2_column="1" class="topictitle" href="{{ topic.U_NEWEST_POST }}" title="{{ topic.FULL_TITLE }}" class="link-new">{{ topic.TITLE }}} ({{ topic.TOPIC_REPLIES }})</a>
											{% else %}
												<span  style="visibility:hidden;" data-topic_id="{{ topic.TOPIC_ID }}" data-forum_id="{{ topic.FORUM_ID }}" class="lt-marktopicread" title="{{ lang(MARK_READ) }}"><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
												<a   data-lt1_column="1" href="{{ topic.U_LAST_POST }}}">
													<i class="icon fa-file fa-fw icon-lightgray icon-md" aria-hidden="true"></i>
												</a>
												<a  data-lt2_column="1" class="topictitle" style='font-weight:normal;' href="{{ topic.U_LAST_POST }}" title="{{ topic.FULL_TITLE }}">{{ topic.TITLE }} ({{ topic.TOPIC_REPLIES }})</a>
											{% endif %}
											{% EVENT topiclist_row_append %}
										</li>
									{% endfor %}
								</ul>
							</td>
							{% endif %}
							{% if SHOW_COL0 %}
							<td  data-topics="0" >
								<ul style="list-style:none;">
									{% for topic in latest_topics_0 %}
										<li>
											{% if topic.S_UNREAD_TOPIC %}
												<span  data-topic_id="{{ topic.TOPIC_ID }}"  data-forum_id="{{ topic.FORUM_ID }}" class="lt-marktopicread" title="{{ lang('MARK_READ') }}"><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
												<a data-lt1_column="0" class="unread" href="{{topic.U_NEWEST_POST }}">
													<i class="icon fa-file fa-fw icon-red icon-md" aria-hidden="true"></i>
												</a>
												<a data-lt2_column="0" class="topictitle" href="{{ topic.U_NEWEST_POST }}" title="{{ topic.FULL_TITLE }}" class="link-new">{{ topic.TITLE }} ({{ topic.TOPIC_REPLIES }})</a>
											{% else %}
												<span  style="visibility:hidden;" data-topic_id="{{ topic.TOPIC_ID }}" data-forum_id="{{ topic.FORUM_ID }}" class="lt-marktopicread" title="{{ lang('MARK_READ') }}"><i class="fa fa-check-square-o" aria-hidden="true"></i></span>
												<a   data-lt1_column="0" href="{{ topic.U_LAST_POST }}">
													<i class="icon fa-file fa-fw icon-lightgray icon-md" aria-hidden="true"></i>
												</a>
												<a  data-lt2_column="0" class="topictitle" style='font-weight:normal;' href="{{ topic.U_LAST_POST }}" title="{{ topic.FULL_TITLE }}">{{ topic.TITLE }} ({{ topic.TOPIC_REPLIES }})</a>
											{% endif %}
											<br />
											{% EVENT topiclist_row_append %}
										</li>
									{% endfor %}
								</ul>
							</td>
							{% endif %}
						</tr>
					</tbody>
				</table>
			</li>	
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<br style="clear:both" />
{% endif %}

